
#not-found-page {

  .button {
    border-radius: 0; // no borders
    text-transform: uppercase;
    font-family: $league;
    letter-spacing: 1px;

    &:hover {
      cursor: default;
    }

    &.is-outlined {
      background: transparent;
      color: white;
      border-width: 2px;
      border-color: white;
    }

    &.is-block {
      display: block;
      width: 100%;
    }

    &.is-xxl {
      @media(min-width: 768px) {
        font-size: 12vw;
      }
      @media(max-width: 768px) {
        font-size: 23vw;
        width: 100%;
      }
      height: auto;
    }
  }


  #vide-video {
    width: 100%;
    min-height: 600px;

    @media(max-width: 768px) {
      min-height: 400px;

      // Override positioning of poster for mobile
      div {
        background-position: 20% 0% !important;
      }
    }

  }

  .error-text {
    padding: 20px;
    @media(min-width: 769px) {
      margin-top: 120px;
    }
  }

}
