@import "variables.scss";
.mobile-hr {
  margin: 30px auto;
  width: 69%;
  height: 2px;
}

.contact-profile {
    max-width: 200px;
    display: table;
	margin: auto;
}
.contact-container {
  max-width: 60%;
  margin: auto;
  padding-top: 60px;
  line-height: 35px;

  @media(max-width: 768px) {
    text-align: center;

    .source {
      font-weight: 400;
    }
  }


  table td {
    width: 40%;
  }

  .gap {
    width: 20%;
  }

  .source {
    font-weight: 800;
  }
}
