.diary-container {
margin-top: 50px; //for sticky header
  background: url('/images/diary/wood-background.jpg');
  height: inherit;
  width: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2%;


  .diary-box {
    margin: auto;
    display: block;
    height: 100%;
    width: 90%;
    background: rgba(255,255,255,0.8);
    border-radius: 5px;
    padding: 2%;

    .arrow-container {
      position: relative;
      height: 30%;
      width: 30%;
      margin-top: -30px;
      margin-left:40%;
      .arrow-to-plan {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
      }
    }

    .in-the-middle {
       position: relative;
       height: 50%;


       .no-plan-title {
         color: rgba(128,128,128,1)
       }
    }

    .button .right {
      width: 30%;
      margin-right: 2%;
      margin-left: 69%;
      margin-top: 2%;


      &:hover {
        background: $color-yellow;
      }
    }

    .menu-description {
        width: 80%;
        border-radius: 5px;
        border-color: $color-grey;
    }
    .menu-description:focus {
        border-color: $color-dark-green;
    }

    .fa {
      width: 20%;
      margin: 40% 0;
    }

    .menu {
      width:40%;
    }
  }
}
