footer.footer {
  color: white;
  background: $color-dark-green;
  margin-top: 10px;
  min-height: 10px;
  max-height: 10px !important;
  .copyright {
      float: right;
      position: relative;
      top: 0px;
  }
}
