nav.nav {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
  background: $color-light-yellow;
  color: $color-grey;

  .nav-item a {
    font-weight: bold;
    color: $color-grey;
  }

  .nav-item.active a {
    color: black;
  }

  &.transparent {
    background: rgba(255, 255, 255, 0.9)
  }
}
