.introducing-the-app {
  .left {
    width: 50%;
    float: left;
    margin-top: 13%;

    // @media(max-width: 800px) {
    //   margin-top: 80px;
    // }
  }

  .right {
    width: 50%;
    float: right;
  }

  @media(max-width: 768px) {
    .left, .right {
      float: none;
      display: block;
      width: auto;
    }

    .right {
      text-align: center;
    }

    .left {
      margin-top: 0;
    }

  }


}

.hero-homepage {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  height: 720px;
  position: relative;

  // margin-top: -50px;
  background-image:url(https://s3-us-west-2.amazonaws.com/www.fitplanapp.com/videos/homepage_video_still.jpg);

  // For use with margin-top: -50px on hero and transparent navigation
  .hero-content {
    position: relative;
    top: 70px;

    h1 {
      font-size: 57px;
      line-height: 0.9em;
      font-weight: normal;

      strong {
        font-weight: 900;
      }
    }

    @media(min-width: 980px) {
      padding: 350px 0 130px 0!important;
    }
  }

  @media(max-width: 768px) {
    height: auto;
    .hero-content {
      padding: 250px 20px 50px 20px!important;
      top:0;

      h1 {
        font-size: 47px;
      }
    }
  }

  @media(max-width: 425px) {
    background-image:url(/images/homepage_video_still_mobile.jpg);
    margin-top: 0;

    .hero-content {
      padding: 250px 20px 50px 20px!important;
      top: 0;

      h1 {
        font-size: 40px;

        br {
          // display: none;
        }
      }
    }
  }


}