.login-container {
  .title {
    margin-bottom: 10px;
  }


  .login-box-container {
    background: url('/images/login-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 10% 8%;

    @media(min-width: 992px) {
      padding: 20% 15%;
    }

    @media(max-width: 768px) {
      background-position: center;
      background-size: cover;
    }
    h3 {
      font-weight: 500;
    }

    .login-box {
      padding: 15px;
      background: white;
      border-radius: 25px;

      .button {
        width: 100%;

        &:hover {
          background: $color-yellow;
        }
      }
    }
  }

  .info-box-container {
    padding: 5% 3%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media(min-width: 992px) {
      padding: 15% 10%;
    }

    .info-box {
      background: $color-light-yellow;

      hr {
        height: 3px;
      }
    }
  }

  hr {
    background-color: $brand-dark-blue;
  }

}
