
.ReactTable.-striped.-highlight.statlist .rt-thead.-header{
  min-height: 30px;
  height: 30px;
  padding-top: 1px;
}

.ReactTable.-striped.-highlight.statlist .rt-tr-group{
  max-height: 40px;
}
.plans-overview  {
  margin: auto;
  max-width: 900px;
}

.ReactTable, .add-plan-info {
  margin: inherit;
  max-width: inherit;
}
.ReactTable .rt-thead.-header {
    background-color: #37393e;
    color: #fff;
    height: 26px;
    padding: 0px
}
