.plan-container {
  padding: 25px 10vw;

  h1.plan-title {
    font-size: 24px;
  }

  h1.caption {
    letter-spacing: 5px !important;
  }

  div.header {
    padding-bottom: 20px;

    @media(max-width: 768px) {
      padding-bottom: 10px;
    }
  }

  .title {
    strong {
      color: #535353;
    }
    strong span {
      font-weight: 500 !important;
    }

    @media(max-width: 768px) {
      font-size: 20px;
    }
  }

  .subtitle {
    font-size: 14px;

    @media(min-width: 769px) {
      font-size: 18px;
    }
  }

  .emphasis {
    font-size: 75px;
    font-weight: 500;

    @media(max-width: 768px) {
      font-size: 30px;
    }
  }

  .plan-summary {
    width: 80%;
    margin: 0 auto;

    @media(max-width: 768px) {
      width: 100%;
    }

    .title {
      font-size: 12px;

      @media(min-width: 450px) {
        font-size: 16px;
      }

      @media(min-width: 600px) {
        font-size: 28px;
      }
    }

    .emphasis {
      font-size: 20px;
      padding-bottom: 10px;

      @media(min-width: 375px) {
        font-size: 24px;
      }

      @media(min-width: 450px) {
        font-size: 24px;
        padding-bottom: 20px;
      }

      @media(min-width: 600px) {
        font-size: 75px;
        padding-bottom: 40px;
      }

      &.coming-soon {
        font-size: 4vw;
      }
    }
  }

  .monthly-earnings {
    .arrow i {
      line-height: 3;
    }
  }

  .earnings-box-wrapper {
    position: relative;

    .arrow {
      position: absolute;
      top: 20px;

      &.arrow-left {
        left: -20px;
      }

      &.arrow-right {
        right: -20px;
      }
    }

    .earnings-box {
      @media(max-width: 768px) {
        background-color: #9ad0da;
        padding: 15px 15px;
      }

      .columns {
        @media(max-width: 768px) {
          margin: 0;
        }
      }

        .earnings-border {
          @media(max-width: 768px) {
            border: 1px solid white;
          }
        }

        .data-box {
          @media(max-width: 768px) {
            background-color: white;
            .title {
              margin-bottom: 10px;
              strong {
                font-size: 16px;
              }
            }
            p {
              font-size: 14px;
            }
          }
        }

        .month-title {
          margin-bottom: 40px;

          @media(max-width: 768px) {
            color: white;
            text-align: center;
            margin: 10px 0px;
          }
        }
    }
  }

  .plan-summary {
    @media(min-width: 768px) {
      padding-bottom: 80px;
    }
  }

  .data-summary {
    margin-left: 70px;

    @media(max-width: 768px) {
      margin-left: 10px;
    }
  }

  .plan-image {
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 360px;
    padding-top: 100%;

    @media(max-width: 768px) {
      min-width: 120px;
    }
  }

  hr {
    background-color: #505050;

    @media(max-width: 768px) {
      margin: 0 auto;
      width: 50%;
    }
  }

  .mobile-coming-soon-title {
    @media(max-width: 485px) {
      font-size: 3vw;
      letter-spacing: 2px;
    }
  }

}

.opentip-container div.opentip {
  font-size: 18px;
}

.axis {
  stroke-width: 0px;
}

.axis text {
  fill: #535353;
}

.month-tick,
.date-tick {
  &:hover {
    cursor: pointer;
  }
}

.monthly-chart,
.daily-chart {
  max-height: 550px;
  width: 100%;

  path.area {
    fill: url(#linear-gradient);
    stroke: none;
  }

  path.trial-area {
    fill: url(#trial-linear-gradient);
    stroke: none;
  }
}

.tick {
  @media(max-width: 769px) {
    font-size: 14px;
  }
}

.monthly-dot {
  fill: #7dd2d7;
}

.paid-dot {
  fill: #7dd2d7;
  z-index: 999;
}

.trial-dot {
  fill: #bdb1d9;
}

.weekly-chart {
  width: 100%;
}

.weekly-label {
  fill: #535353;
  font-size: 16px;
  font-weight: 300;
}

.line {
  fill: none;
  stroke: #3e9fa8;
  stroke-width: 1.5px;
}

.paid-line {
  fill: none;
  stroke: #3e9fa8;
  stroke-width: 1.5px;
}

.trial-line {
  fill: none;
  stroke: #7066b5;
  stroke-width: 1.5px;
}

.chart-legend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 55px;

  @media(max-width: 768px) {
    bottom: 14px;
    font-size: 12px;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    @media(max-width: 768px) {
      width: 100%;
    }
  }

  hr {
    width: 50%;
    margin: 0;
    margin-right: 20px;
    background-color: #7066b5;
    height: 3px;
    display: inline-block;

    @media(max-width: 768px) {
      height: 1px;
    }
  }

  .trial-legend {
    hr {
      background-color: #7066b5;
    }
  }

  .paid-legend {
    hr {
      background-color: #3e9fa8;
    }
  }
}
