.plan-header {
  padding: 0px 20px;
}


.plans-container {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 20px;
  text-align-last: left;
  text-align: center;

  @media(min-width: 1000px) {
    padding: 10px 0;
  }

  .plan-card-wrapper {
    position: relative;

    @media(min-width: 700px) {
      width: 50%;
      display: inline-block;
    }

    @media(min-width: 1100px) {
      width: 33.3333%;
      display: inline-block;
    }

    .plan-card {
      cursor: pointer;
      position: relative;
      margin: 0 0 20px 0;
      padding: 10px;
      height: 180px;
      color: white;

      @media(min-width: 475px) {
        height: 220px;
      }

      @media(min-width: 700px) {
        margin: 0 8px 8px 8px;
      }

      &:hover .plan-overlay {
        background: rgba(255,255,255,.2);
      }

      .plan-background {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: -33px top;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        // border: 1px solid red;

        @media(min-width: 340px) {
          background-position: center top;
        }

        @media(min-width: 1100px) {
          background-position: -95px top;
        }

        @media(min-width: 1180px) {
          background-position: -35px top;
        }
      }

      .plan-overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }

      .inner-border {
        position: absolute;
        top: 10px; left: 10px; bottom: 10px; right: 10px;
        border: 2px solid white;
      }

      .plan-info {
        position: absolute;
        left: 10px; bottom: 10px; right: 10px;
        background: white;
        min-height: 56px;

        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
          font-size: 18px;
          color: #8a8a8a;
          text-align: center;
          text-align-last: center;
          text-transform: uppercase;
          letter-spacing: 2px !important;
          line-height: 1.3em;
          padding: 5px 10px;
        }
      }
    }
  } // .plan-card-wrapper
}
