@media(max-width: 768px) {
  .is-centered-mobile {
    text-align: center!important;
  }

}



@media(max-width: 980px) {
  .plans {
    .planCardWrapper {
      width: 50%;
    }
  }
}

@media(max-width: 768px) {
  .plans {
    .planCardWrapper {
      width: 50%;

      .planCard {
        margin: 5px;
      }
    }
  }


}

@media(max-width: 660px) {
  .plans {
    .planCardWrapper {
      width: 100%;

      .planCard {
        margin: 5px 0;
      }
    }
  }
}




// Athletes
.athletes {
  a.athlete {
    // width: 25%;
    // height: 300px;

    // 4 Columns
    @media(max-width: 1480px) {height: 264px; font-size: 25px;}
    @media(max-width: 1280px) {height: 228px; font-size: 22px;}


    @media(max-width: 1024px) {
      width: 33%;
      height: 292px; font-size: 19px;

    }

    @media(max-width: 980px) {
      width: 50%;
      height: 300px;
      font-size: 28px;
    }

    @media(max-width: 780px) {
      height: 264px;
      font-size: 25px;
    }

    @media(max-width: 680px) {
      height: 228px;
      font-size: 22px;
    }

    @media(max-width: 580px) {
      height: 192px;
      font-size: 19px;
    }

    @media(max-width: 425px) {
      width: 100%;
      font-size: 28px;
      height: 300px;
    }

  }
}



// Smallest device category/cutoff
@media(max-width: 768px) {
  .card {
    margin: 0px auto; // center cards
  }
}


.athlete-image {
  margin: 0px auto;

  // @media(max-width: 768px) {
  //   max-width: 80%!important;
  // }

  // @media(max-width: 768px) {
  //   max-width: 400px!important;
  // }

  // @media(max-width: 420px) {
  //   max-width: 300px!important;
  // }

  // @media(max-width: 320px) {
  //   max-width: 100%!important;
  // }

}
