/**
 * General site-wide styles
 */


 html,
 body {
     height:100vh;
 }
body {
  background: $color-light-yellow;
  color: #535353;
  letter-spacing: 1px !important;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px !important;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  // -moz-binding: url('assets/xml/ellipsis.xml#ellipsis');
}

.hero {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero .is-white, .rslides .is-white {
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.is-white {
  color: white!important;
}

// Bugfix - fix issue with flexbox + ellipsis
.column .card .media-content {
  min-width: 0;
}

.gray-bg {
  background: #f5f7fa;
}


/**
 * Tags
 */

.tags {
  .tag {
    margin: 2px;
  }

  .tag-title {
    font-weight: bold;
    line-height: 33px;
    padding-right: 10px;
    display: inline-block;
    min-width: 40px;
  }
}

.notification.is-success strong {
  color: white;
}

// .notification.is-success a {
//   color: white;
//   text-decoration: underline;
// }

.uppercase {
  text-transform: uppercase;
}

.text-muted,
.text-muted a {
  color: #69707a !important;
}

.text-success {
  color: #37bb5d!important;
}

.text-danger {
  color: #ed6c63!important;
}

.text-warning {
  color: orange!important;
}

// Videos
video {
  display: block;
}

.video-wrapper {
  position: relative;

  video {
    z-index: 1;
  }

  .play-video-button {
    cursor: default;
    z-index: 2;
    position: absolute;
    color: white;
    top: 50%;
    font-size: 100px;
    display: block;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    left: 50%;
    // text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);

    opacity: 1;
    &.hidden {
      opacity: 0;
      pointer-events: none;
    }

    @media(max-width: 425px) {
      display: none; // on mobile there's already a play button on safari


      font-size: 50px;
      width: 50px;
      height: 50px;
      margin-top: -25px;
      margin-left: -25px;

    }
  }
}

.filtersWrapper {
  text-align: center;
  max-width: 400px;
  margin: 0px auto;
}

.button.is-outlined {
  background: transparent;
  color: white;
}


// Hide video play buttons on firefox (already a play button)
@-moz-document url-prefix() {
  .play-video-button {
    display: none!important;
  }
}


img.is-padded {
  padding: 10px;

  &.is-pulled-right {
    padding-right: 0;
  }
}


.header-item img {
  max-height: 38px;
}

.pointer {
  cursor: pointer;
}

#react-root {
  min-height: 600px;
}

// Override Bulma colour
.nav-toggle.is-active span {
  background-color: $brand-green !important;
}

.nav-item {
  padding-left: 50px;
  padding-right: 50px;
}

.logout-button {
  #logout-text {
    color: $brand-green !important;
  }

  @media(min-width: 769px) {
    border: 2px solid $brand-green;
    padding: 0px 10px !important;
    margin: 10px 50px;
    margin-right: 0px;
  }
}

.page-loader {
  margin: 80px auto;
  -webkit-animation: spin-around 500ms infinite linear;
  animation: spin-around 500ms infinite linear;
  border: 2px solid $brand-green;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 64px;
  position: relative;
  width: 64px;
}

// Override Bulma
.content a:not(.button):hover {
  border-bottom-color: $brand-green;
}

.input:active,
.input:focus,
.input.is-active,
.textarea:active,
.textarea:focus,
.textarea.is-active {
  border-color: $brand-green;
}

input {
  font-size: 16px;
}
